<header id="masthead" class="site-header align-items-center d-flex">
  <div class="container">
    <div class="row align-items-center">
      <div class="col h-100">
        <div class="site-logo">
          <a [routerLink]="['/home']" class="custom-logo-link" rel="home">
            <img src="assets/images/logo-light.png" alt="Analogue" class="custom-logo light-logo" />
            <img src="assets/images/logo-dark.png" alt="Analogue" class="custom-logo dark-logo" />
          </a>
        </div>
      </div>
      <div class="col h-100">
        <a href="#contact" class="float-right animate_btn redirect-btn dark-btn">CONTACT US</a>
      </div>
    </div>
  </div>
</header>