<section id="contact" class="t-burger ps-section">
  <div class="burger darkbg">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="page-head mb-5">
            <span class="page-caption">Contact</span>
            <h2 class="mt-3">Get in touch</h2>
            <div class="contact-address">
              <p>
                <a href="https://goo.gl/maps/HSdKo9pf7jK2" target="_blank">44 Shirley Ave. West Chicago, IL 60185</a>
              </p>
              <p>
                <a href="tel:0987654321">Ph: 0987654321</a>
              </p>
              <p>
                <a href="mailto:info@psthemes.co">Send us email</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <form id="ajax-contact" method="post" action="contact-mail.php" class="form-contact d-flex justify-content-center">
            <div id="form-messages" class="notification contact"></div>
            <div class="row w-100">
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" required name="FullName" value="" size="40" class="form-control" id="name" aria-required="true" aria-invalid="false"
                    placeholder="Full Name">
                </div>
                <div class="form-group">
                  <input type="email" required name="Email" value="" size="40" class="form-control" id="email" aria-required="true" aria-invalid="false"
                    placeholder="Email">
                </div>
                <div class="form-group">
                  <input type="tel" name="Phone" required value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control"
                    id="phone" aria-required="true" aria-invalid="false" placeholder="Phone">
                </div>
              </div>
              <div class="col-md-6 d-flex justify-content-between flex-column">
                <div class="form-group">
                  <textarea name="Message" required cols="50" rows="4" class="wpcf7-form-control wpcf7-textarea form-control" id="message"
                    aria-invalid="false" placeholder="Additional Message"></textarea>
                </div>
                <div class="form-group">
                  <input type="submit" value="Submit" class="wpcf7-form-control wpcf7-submit dark-btn" id="submit">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>