<section id="stories" class="ps-section t-burger">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="page-head mb-5">
          <span class="page-caption">Blog</span>
          <h2 class="mt-3">Read our stories</h2>
          <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
            eos qui ratione voluptatem sequi nesciunt.</p>
          <a href="javascript:;" class="circle-icon right">Read More
            <img src="assets/images/arrow-right.svg" alt="arrow-right">
          </a>
        </div>
      </div>
      <div class="col-lg-8">
        <div class=" row blog-list">
          <article class=" col-sm-6">
            <div class="blog-card">
              <a class="img-centered d-block" href="javascript:;" style="background-image: url(assets/images/blog.png);"> </a>
              <div class="card">
                <div class="card-body p-0">
                  <span class="entry-category">
                    <a href="javascript:;" rel="category tag">Announcement</a>
                    <span class="blog-date"> / 21.05.18</span>
                  </span>
                  <h3 class="entry-title mt-1">
                    <a href="javascript:;">
                      How to use Gestalt principles while desiging websites
                    </a>
                  </h3>
                  <div class="entry-content mt-1">
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
                      dolores eos qui ratione voluptatem sequi nesciunt.
                      <br>
                    </p>
                  </div>
                  <div class="blog-author mt-2">By
                    <a href="javascript:;" class="text-muted ">
                      <span class="font-weight-bold">Jhon Doe</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </article>
          <article class=" col-sm-6">
            <div class="blog-card">
              <a class="img-centered d-block" href="javascript:;" style="background-image: url(assets/images/blog.png);"> </a>
              <div class="card">
                <div class="card-body p-0">
                  <span class="entry-category">
                    <a href="javascript:;" rel="category tag">Announcement</a>
                    <span class="blog-date"> / 21.05.18</span>
                  </span>
                  <h3 class="entry-title mt-1">
                    <a href="javascript:;">
                      How to use Gestalt principles while desiging websites
                    </a>
                  </h3>
                  <div class="entry-content mt-1">
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
                      dolores eos qui ratione voluptatem sequi nesciunt.
                      <br>
                    </p>
                  </div>
                  <div class="blog-author mt-2">By
                    <a href="javascript:;" class="text-muted ">
                      <span class="font-weight-bold">Jhon Doe</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>