<header id="masthead" class="site-header align-items-center d-flex">
  <div class="container">
    <div class="row align-items-center">
      <div class="col h-100">
        <div class="site-logo site-menu2">
          <a *ngIf="detail[0]" class="custom-logo-link " href="#banner" rel="home">
            <img src="http://localhost:1337/uploads/{{detail[0].logo.hash + detail[0].logo.ext}}" alt="">
           
            <!-- <img src="assets/images/logo-light.png" alt="Analogue" class="custom-logo light-logo" />
            <img src="assets/images/logo-dark.png" alt="Analogue" class="custom-logo dark-logo" /> -->
          </a>
          <!-- <div class="site-menu2">
              <a href="javascript:;" class="site-menu-trigger">
                  <span></span>
              </a>
                <a class="nav-link" href="#banner">Home</a>
          </div> -->
              
        </div>
      </div>
      <div class="col h-100">
        <a href="#contact" class="float-right animate_btn redirect-btn dark-btn">CONTACT US</a>
      </div>
    </div>
  </div>
</header>