<nav id="fixed-nav" class="site-menu ">
  <div class="container">
    <div class="row w-100">
      <div class="col-md-12">
        <a href="javascript:;" class="site-menu-trigger">
          <span></span>
        </a>
        <div id="primary-menu" class="menu">
          <ul class="nav menu ">
            <li class="">
              <a class="nav-link" href="#media">Media</a>
            </li>
            <li class="">
              <a class="nav-link" href="#stories">Blog</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>