<app-banner></app-banner>
<app-header [detail]="departmentDetail"></app-header>
<app-site-menu></app-site-menu>

<main class='ps-main-content' id='first-section'>

    <app-services [departmentServices]="departmentServices"></app-services>

    <!-- <app-portfolio></app-portfolio> -->

    <app-about *ngIf="socialMedia" [personnel]="personnel" [socialMedia]="socialMedia"></app-about>

    <app-gallery></app-gallery>

    <!-- <app-clients></app-clients>
 
    <app-stories></app-stories> -->

    <app-contact></app-contact>

</main>

<app-footer></app-footer>


<!-- <div class="gear-box">
  <div class="gear d-flex justify-content-center align-items-center">
    <i class="fa fa-gear"></i>
  </div>
  <div class="gear-content">
    <ul class="template-list list-unstyled mb-0">
      <li>
        <a href="index.html" title="Main template" class="image-template">
          <img src="assets/images/image-icon.svg" alt="img-icon" class="img-fluid">
          <span class="image-template">Image Template</span>
        </a>
      </li>
      <li>
        <a class="video-template" href="index-video.html" title="Video Banner">
          <img src="assets/images/video-icon.svg" alt="img-icon" class="img-fluid">
          <span class="video-template">Video Template</span>
        </a>
      </li>
    </ul>
  </div>
</div> -->

