<div id="gallery" class="ps-section carousel slide carousel-fade ">
  <!-- Gallery Slider -->
  <div class="carousel-inner" role="listbox">
    <div class="burger carousel-item active" style="background-image: url('assets/images/photos/gallery_1.jpg');">
      <div class="p-3 gallery-description   ">
        <h2 class="text-center">Life @ Analogue</h2>
      </div>
    </div>
    <div class="burger carousel-item" style="background-image: url('assets/images/photos/gallery_2.jpg');">
      <div class="p-3 gallery-description   ">
        <h2 class="text-center">Life @ Analogue</h2>
      </div>
    </div>
    <div class="burger carousel-item" style="background-image: url('assets/images/photos/gallery_3.jpg');">
      <div class="p-3 gallery-description   ">
        <h2 class="text-center">Life @ Analogue</h2>
      </div>
    </div>
    <!-- <div class="burger carousel-item" style="background-image: url('assets/images/gallery.png');">
      <div class="p-3 gallery-description   ">
        <h2 class="text-center">Life @ Analogue</h2>
      </div>
    </div> -->
  </div>
  <!-- /.carousel-inner -->
  <!-- Controls -->
  <div class="gallery-controls">
    <a class="carousel-control-prev " href="#gallery" role="button" data-slide="prev">
      <span class="" aria-hidden="true">
        <img src="assets/images/back.svg" alt="">
        <!-- previous icon -->
      </span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#gallery" role="button" data-slide="next">
      <span class="" aria-hidden="true">
        <img src="assets/images/next.svg" alt="">
        <!-- next icon -->
      </span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>