<section id="banner" class="homepage-hero" style="background-image: url('assets/images/photos/office_1.jpg');">
  <div class="banner-wrapper ">
    <div class="container">
      <div class="row ">
        <div class="col-lg-8 ">
          <div class="banner-inner">
            <div class="banner-text burger">
              <h1 class="text-rotator" style="color: #0085a1;">We design and build products for
                <span class="rotate">Startups., Enterprises., Healthcares., Mobility., Retails., Logistics., Education., Automotive.</span>
              </h1>
              <p>Analogue is a digital studio, passionate for creating beautiful and memorable user experience.</p>
              <a href="#first-section" class="circle-icon bottom redirect-btn">
                <img width="50" src="assets/images/arrow-down.svg" alt="arrow-down">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>