
<section id="services" class="ps-section burger border-bottom">
    <span>{{departmentDetail | json}}</span>
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="page-head mb-5">
          <span class="page-caption">Services</span>
          <h2 class="mt-3">We create modern user experience</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. </p>
        </div>
      </div>
      <div class="col-lg-8 service-list">
        <div class="row">
          <div *ngFor="let service of departmentServices" class="col-sm-6 service-item">
            <div class="card">
              <div class="card-content">
                <div class="card-image">
                  <img src="http://localhost:1337{{service.cover.url}}" class="img-fluid" alt="service">
                </div>
                <h3 class="title mt-3">{{service.title}}</h3>
                <div class="post">
                  <p>{{service.description}}</p>
                </div>
              </div>
            </div>
          </div>

          <!-- <div class="col-sm-6 service-item ">
            <div class="card">
              <div class="card-content">
                <div class="card-icon">
                  <img src="assets/images/003-settings.svg" class="img-fluid" alt="service">
                </div>
                <h3 class="title mt-3"> Development </h3>
                <div class="post">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 service-item ">
            <div class="card">
              <div class="card-content">
                <div class="card-icon">
                  <img src="assets/images/001-arroba.svg" class="img-fluid" alt="service">
                </div>
                <h3 class="title mt-3"> Internet of Things </h3>
                <div class="post">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 service-item ">
            <div class="card">
              <div class="card-content">
                <div class="card-icon">
                  <img src="assets/images/002-smartphone.svg" class="img-fluid" alt="service">
                </div>
                <h3 class="title mt-3"> Mobile Apps </h3>
                <div class="post">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua.</p>
                </div>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>