<section id="about" class="ps-section burger">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="page-head mb-5">
          <span class="page-caption">About</span>
          <h2 class="mt-3">We're a human-centered digital agency.</h2>
          <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
            eos qui ratione voluptatem sequi nesciunt.</p>
        </div>
      </div>
      <div class="col-lg-8 team-list">

        <h3 class="pb-5">Executives</h3>
        <div class="row">
          <div *ngFor="let p of executives" class="col-lg-3 col-sm-4 mb5 our-team">
            <div (click)="getPersonnelData(p)" class="team-inner">
              <!-- <ul class="social">
                <li><a href="javascript:;"><i class="fa fa-twitter"></i></a></li>
                <li><a href="javascript:;"><i class="fa fa-linkedin"></i></a></li>
              </ul> -->
              <ul class="social">
                <li><a href="{{p.links[0].link}}"><i [className]="getSocialMedia(p.links[0].type)"></i></a></li>
              </ul>
              <div class="team_img">
                <img src="http://localhost:1337{{p.photo.url}}" alt="Team Member" />
              </div>
              <div class="team-content text-center">
                <h3 class="title">{{p.fullName}}</h3>
                <span>{{p.position}}</span>
                <a href="#expert_modal" class="team_modal_link link-item" data-toggle="modal"></a>
                <aside class="d-none">
                  <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
                    dolores eos qui ratione voluptatem sequi nesciunt.</p>
                </aside>
              </div>
            </div>
          </div>
        </div>

        <h3 class="pb-5">Councilors</h3>
        <div class="row">
            <div *ngFor="let p of councilors" class="col-lg-3 col-sm-4 mb5 our-team">
              <div (click)="getPersonnelData(p)" class="team-inner">
                <ul class="social">
                  <li><a href="{{p.links[0].link}}"><i [className]="getSocialMedia(p.links[0].type)"></i></a></li>
                </ul>
                <div class="team_img">
                  <img src="http://localhost:1337{{p.photo.url}}" alt="Team Member" />
                </div>
                <div class="team-content text-center">
                  <h3 class="title">{{p.fullName}}</h3>
                  <span>{{p.position}}</span>
                  <a href="#expert_modal" class="team_modal_link link-item" data-toggle="modal"></a>
                  <aside class="d-none">
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
                      dolores eos qui ratione voluptatem sequi nesciunt.</p>
                  </aside>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <!--/container-->


  <!--TEAM Modal -->
  <div class="modal fade" id="expert_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content border-0">
        <div class="modal-header my-profile-header d-none d-sm-block">
          <button type="button" class="team_close modal_close_btn" data-dismiss="modal" aria-label="Close"></button>
        </div>
        <a href="javascript:;" class="flat_close_btn d-sm-none d-block dismiss-item1 modal_close_btn" data-dismiss="modal" aria-label="Close"></a>
        <div class="my-profile-text ">
          <div class="team-profile d-flex flex-sm-row flex-column  align-items-end">
            <div class="my-image-profile ">
              <img *ngIf="personnelDetail.photo" id="team_img" class="align-self-end d-flex w-100" src="http://localhost:1337{{personnelDetail.photo.url}}" alt="team-member" />
            </div>
            <div class="float-left membar_designation">
              <h3 class="m-0">{{personnelDetail.fullName}}</h3>
              <span></span>
              <ul class="team_modal_social social list-unstyled mb-0 "></ul>
            </div>
            <div class="clearfix"></div>
          </div>
          <aside></aside>
        </div>
      </div>
    </div>
  </div>

  
</section>