<section id="clients" class="ps-section burger border-bottom">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="page-head mb-5">
          <span class="page-caption">Clients</span>
          <h2 class="mt-3">We worked with worlds leading brands</h2>
          <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
            eos qui ratione voluptatem sequi nesciunt.</p>
        </div>
      </div>
      <div class="col-lg-8">
        <img class="img-fluid client_logoes mb-5" src="assets/images/client-logos.png" alt="client logo">
        <div id="reviews" class="review-slider carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="testimonial">
                <i class="fa fa-quote-right"></i>
                <div class="media flex-column-reverse  align-items-center flex-md-row">
                  <div class="reviewer">
                    <img alt="Sample Image" class=" mr-sm-4 media-object" src="assets/images/client.png">
                  </div>
                  <div class="media-body">
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
                      dolores eos qui ratione voluptatem sequi nesciunt.</p>
                    <div class="testimonial-prof">
                      <span>John Doe </span>
                      <div>Some Good Company</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="testimonial">
                <i class="fa fa-quote-right"></i>
                <div class="media flex-column-reverse  align-items-center flex-md-row">
                  <div class="reviewer">
                    <img alt="Sample Image" class=" mr-sm-4 media-object" src="assets/images/client.png">
                  </div>
                  <div class="media-body">
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
                      dolores eos qui ratione voluptatem sequi nesciunt.</p>
                    <div class="testimonial-prof">
                      <span>John Doe </span>
                      <div>Some Good Company</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="reviews-controls">
            <a class="carousel-control-prev " href="#reviews" role="button" data-slide="prev">
              <span class="" aria-hidden="true">
                <img src="assets/images/back-dark.svg" alt="prev">
              </span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#reviews" role="button" data-slide="next">
              <span class="" aria-hidden="true">
                <img src="assets/images/next-dark.svg" alt="next">
              </span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>