<footer id="colophon" class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <ul class="footer-social mb-4 list-unstyled">
          <li>
            <a href="javascript:;">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <i class="fa fa-instagram"></i>
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <i class="fa fa-google-plus"></i>
            </a>
          </li>
        </ul>
        <div class="site-info">
          <span>&copy; 2015-2018 PS Themes </span>
        </div>
      </div>
    </div>
  </div>
</footer>