<div class="preloader"><div class="loader-slice"></div></div>

<app-banner></app-banner>
<app-header></app-header>
<app-site-menu-blog></app-site-menu-blog>

<main class='ps-main-content' id='first-section'>

    <app-stories></app-stories>

</main>

<app-footer></app-footer>
